/* navigation style start from here */
.nav-container{
    width: 100%;
    height:1020px;
    background: rgba(255, 144, 14, 0.1);
}


/* navbar */

.navbar{
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    margin-left:-34px;
    margin-right: 200px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo a{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
text-align: center;
color: #131313;
text-decoration: none;
}
.navbar .logo a span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
   
    
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left:30px;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
    text-decoration: none;
}




/* Navigation content style start from Here */


.nav-image img{
     background-repeat: no-repeat;
     width:1050px;
     height:600px;
     border-radius:8px;
     background-position:cover;
     margin-top:20px;
     margin-left:200px;
     margin-right:200px;
}
.nav-content{
    text-align: center;
}
nav-content h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size:70px;
    line-height: 53px;
    color: #131313;
}

/* section part start from here */

.employee-image{
    width:50%;
    height:50%;
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap:10px;
}
.employee{
    display:flex;
}

.team-image img{
    height:300px;
    width: 300px;
}


#uniquecolor0{
width: 468px;
height: 106px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}

#uniquecolor1{
width: 468px;
height: 106px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;


}

#uniquecolor2{
    width: 468px;
    height: 106px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}


#employee-section2{
    width:537px;
    height:304px;
    margin-top: 150px;
    margin-left: 70px;
}

.employee-section p{
    width: 537px;
    height: 78px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

#employee-sectionbtn,.nav-content #nav-btn{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border:none;
    border-radius:5px;
}
/* employee section start from here */


.section-container{

    margin-left: 200px;
    margin-right: 200px;
   
}

.left-section{
    width: 560px;
    height: 982px;
}

.section-features p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
   
}

.section-features h2{
width: 468px;
height: 106px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
border-left:8px solid  #FF900E;
}

.section-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.section-data{
    width: 456px;
    height:130px;
    left: 240px;
    top: 2904px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.section-image img{
    width: 500px;
    height: 830px;
}

#section-img-btn{
    width:250px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    position:relative;
    bottom:-757px;
    right:571px;
}



/* card section start from here */

.card-container{
    display: flex;
    justify-content: space-around;
}

.card-section{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
  
}

.card-element{
    width: 169px;
    height: 136.22px;
    margin-top: 30px;
    margin-left: 14px;
}

.card-element:hover{
    background-color: #FF900E;
}

.card-section h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    margin-top: 10px;

}

.card-section p{
    
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #727272;
margin-top: -18px;

}
/* facts section start from here */

.facts-section h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.facts-section p,.section-data p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


/* Bonus mark section start from here */

.bonus-heading{
    text-align:center;
    margin-top:100px;
    margin-bottom: 100px;

}

.bonus-section{
    display:flex;
}

.bonus-image img{
    height:300px;
    width:300px;
}

.bonus-p p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left:80px;
}


/* sponsarship section start from here */

.sponsarship-container{
    margin-top:80px;
}

.sponsarship-details{
       text-align: center;
       margin-top: 150px;
     
}

.sponsarship-details h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;

}

.sponsarship-details p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


.sponser{
    display:flex;
    justify-content: space-between;
    margin-top:80px;
    
}


/* footer section start from here */

.footer-container{
    width: 100%;
    height: 60px;
    background: #FFF4E7;
    border-radius: 8px;
    display:inline-block;
    margin-top:100px;
}

.footer-container p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 22px;
    color: #424242;
}


/* Resposive Design Part start from here */

@media only screen and (max-width:580px) {

    employee-image{
        display: grid;
        grid-template-columns: repeat(1,5fr);

    }

    #employee-section2{
        display:none;
    }
    
    /* .team-image{
        display: grid;
        grid-template-columns: repeat(1,5fr);
    } */
    .employee-section{
        display:grid;
        grid-template-columns: repeat(1,5fr);
        
        
    }
    .section-info{
        display: grid;
        grid-template-columns: repeat(1,5fr);
    }
    .card-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        width:100%;
    }

    .bonus-section{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sponser{
      display:grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      row-gap: 10px;
    }
    .footer-container p{
        display:inline;
        box-sizing: border-box;
    }
  }